<template>
  <div>
    <v-col cols="auto">
      <v-card :elevation="3" height="130" width="250" class="mx-auto pink lighten-5">
        <v-sheet
          class="v-sheet--offset mx-auto text-left"
          color="pink lighten-4"
          elevation="12"
          max-width="calc(100% - 20px)"
        >
          <v-icon :color="color" :size="size">{{icon}}</v-icon>
          <span class="headline font-weight-bold">{{libelle}}</span>
        </v-sheet>
        <v-card-text justify="end" right class="headline font-weight-bold text-end">{{number}}</v-card-text>
      </v-card>
    </v-col>
  </div>
</template>

<script>
export default {
  name: "CardsInfos",
  props: {
    libelle: {
      type: String,
      default: null
    },
    number: {
      type: Number,
      default: null
    },
    icon: {
      type: String,
      default: "add"
    },
    color: {
      type: String,
      default: "blue"
    },
    size: {
      type: Number,
      default: 80
    }
  }
};
</script>

<style lang="scss" scoped>
.v-sheet--offset {
  top: -20px;
  position: relative;
}
.brunfonce {
  background: #d7ccc8 !important ;
}
</style>
