<template>
  <v-app id="inspire">
    <v-navigation-drawer
      :color="color"
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      dark
      hide-overlay
      app
    >
      <v-list dense>
        <template v-for="item in items">
          <v-list-group
          v-if="item.children && (isAdmin(item.role) || isVisiteur(item.role))"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title router :to="item.route" class="test">{{ item.text }}</v-list-item-title>
              </v-list-item-content>
            </template>

            <template v-for="(child, i) in item.children">
              <v-list-item
              v-if="(isAdmin(item.role) || isVisiteur(item.role))"
                :key="i"
                link
                router
                :to="child.route"
              >
                <v-list-item-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="test">{{ child.text }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list-group>
          <template v-else>
            <v-list-item
            v-if="(isAdmin(item.role) || isVisiteur(item.role))"
              :key="item.text"
              link
              router
              :to="item.route"
            >
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="test">{{ item.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app :color="color" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Quizz test</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="signOut">
        <v-icon>mdi-power</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
//import ItemErrors from "../.././components/layout/errors/ItemErrors";
import { mapActions } from "vuex";
//import axios from "../../interceptor";
export default {
  props: {
    source: String
  },
  data: () => ({
    notification: 0,
    produits: [],
    dialog: false,
    drawer: true,
    color:"pink lighten-2",
    items: [
      {
        text: "Utilisateurs",
        icon: "account_circle",
        route: "/user/list",
        role: ["ROLE_ADMIN"]
      },
      {
        text: "Quizz",
        icon: "perm_contact_calendar",
        route: "/quizz",
        role: ["ROLE_ADMIN","ROLE_VISITEUR"]
      },
      {
        icon: "contacts",
        text: "Quizz Panel",
        route: "/quizz/panel",
        role: ["ROLE_ADMIN"]
      }
    ]
  }),

  methods: {
    ...mapActions({
    }),
    signOut() {
      this.$store.dispatch("auth/logout");
    },
    notifi() {

    }
  },
  created() {

  }
};
</script>
<style lang="scss" >
.test {
  font-size: 15px !important;
}
.v-navigation-drawer {
  .v-list {
    &-group--active {
      .v-list-group__items {
        background: #61432bc9 !important;
      }
      .v-list-group__header {
        background: #61432bc9 !important;
      }
      .v-list-item-title {
        font-size: 40px !important;
      }
    }
    .theme--dark {
      .v-icon {
        color: #fff !important;
      }
      .v-list-item-content {
        font-size: 40px !important;
      }
    }
  }
}
.active-item {
  position: relative !important;
  &::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0.3 !important;
    background-color: #61432bc9 !important;
  }
}

.v-list-item-title {
  font-size: 40px !important;
}
</style>
