<template>
  <v-container fluid >
    <h1 class="my-5 display-1 subheading grey--text">Quizz Panel</h1>
    <v-row justify="space-between">
      <CardsInfos icon="mdi-account-supervisor" libelle="Total Quizz" :number="totalQuestion" color="blue" />
    </v-row>
    <v-row justify="space-between">
      <v-col class="col-auto">
        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
              <v-card-title>
                <span class="headline">Ajout de quizz</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-form ref="form" v-model="valid" @submit.prevent="addQuizz()">
                    <v-row>
                      <v-col cols="12">
                        <v-textarea
                          label="Question"
                          prepend-icon="mdi-comment"
                          v-model="question.libelle"
                          :rules="rules.nameRules"
                          outlined
                          rows="4"
                          row-height="30"
                        ></v-textarea>
                      </v-col>
                      <v-row v-for="(item, index) in response" :key="index">
                        <v-col cols="12" sm="9">
                          <v-textarea
                            label="Reponse"
                            prepend-icon="mdi-comment"
                            v-model="item.libelle"
                            :rules="rules.nameRules"
                            outlined
                            rows="2"
                            row-height="20"
                          ></v-textarea>
                        </v-col>
                        <v-col class="d-flex" cols="12" sm="3">
                          <v-select
                            v-model="item.valide"
                            :items="corrections"
                            item-text="text"
                            item-value="bool"
                            solo
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-btn color="blue darken-1" @click="addResponse()">Ajouter une réponse</v-btn>
                    </v-row>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="reset">Fermer</v-btn>
                      <div class="my-2" v-if="updatUser == false">
                        <v-btn
                          type="submit"
                          :loading="isLoading "
                          :disabled="isLoading || !valid"
                          color="success"
                        >
                          Valider
                          <template v-slot:loader>
                            <span>En cours...</span>
                          </template>
                        </v-btn>
                      </div>
                    </v-card-actions>
                  </v-form>
                </v-container>
                <small style="color:red">* Champs requis</small>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card class="mx-auto">
          <v-col cols="12">
            <v-card-title class="p-n12 mt-n8 mb-n8">
              <v-row justify="space-between">
                <v-col cols="12" sm="6" md="3">
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="3">
                  <v-btn
                    class="ma-4 brunfonce"
                    @click="updatUser = false,dialog = true"
                    large
                    tile
                    dark
                  >
                    <v-icon color="#555" left>mdi-account-plus</v-icon>
                    <span style="color:#555;">Ajouter une question</span>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-title>
          </v-col>
          <v-data-table :headers="headers" :items="items" :search="search">
            <template v-slot:item.actions="{item}">
              <v-row>
                <div class="my-2">
                  <v-btn color="primary" tile @click="editQuizz(item)" fab small dark>
                    <v-icon>mdi-pencil</v-icon>
                  </v-btn>
                </div>&nbsp; &nbsp;
                <!-- <div class="my-2">
                  <v-btn color="error" tile @click="deleteQuizz(item.id)" fab small dark>
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </div> -->
              </v-row>
            </template>

            <template v-slot:no-data>
              <v-btn color="primary">Reset</v-btn>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar"
      :color="colorSnackbar"
      multi-line
      right
      :timeout="timeout"
      top
      vertical
    >{{ textSnackbar }}</v-snackbar>
  </v-container>
</template>

<script>
import CardsInfos from "../../components/layout/CardsInfos";
import ItemErrors from "../.././components/layout/errors/ItemErrors";
import axios from "../../interceptor";
export default {
  components: { ItemErrors, CardsInfos },
  data() {
    return {
      snackbar: false,
      textSnackbar: "",
      timeout: 5000,
      colorSnackbar: "",
      entity: "user",
      editedIndex: -1,
      pencil: "mdi-plus",
      color: "red",
      clients: [],
      search: "",
      small: "small",
      items: [],
      show: false,
      dialog: false,
      valid: true,
      updatUser: false,
      corrections: [
        { bool: true, text: "VRAI" },
        { bool: false, text: "FAUX" },
      ],
      question: {
        libelle: "",
      },
      response: [{ libelle: "", valide: "" }],
      headers: [
        { text: "Question", value: "libelle" },
        { text: "Actions", value: "actions" },
      ],
      rules: {
        nameRules: [(v) => !!v || "Ce champs est requis"],
      },
    };
  },
  computed: {
    isLoading() {
      if (this.$store.state.general.isLoading > 0) {
        return true;
      }
    },
    totalQuestion(){
      return this.items.length;
    }
  },
  created() {
    this.getQuizz();
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
      this.dialog = false;
      this.updatUser = false;
      this.response = [];
      this.response.push({ libelle: "", valide: "" });
      this.getQuizz();
    },
    editQuizz(item) {
      this.question = item;
      this.response = item.responses;
      console.log(item);
      this.updatUser = true;
      this.dialog = true;
    },
    deleteQuizz(id) {
      if (window.confirm("Voulez-vous vraiment supprimer cet utilisateur")) {
      }
    },
    getQuizz() {
      axios.get("/api/questions").then((response) => {
        this.items = response.data["hydra:member"];
        console.log(this.items);
      });
    },
    addQuizz() {
      axios
        .post("/api/questions", {
          question: this.question,
          response: this.response,
        })
        .then((response) => {
          //this.quizz = response.data['hydra:member'];
          this.textSnackbar= "Ajout réussi";
          this.snackbar = true;
          this.colorSnackbar= "green";
          this.getQuizz();
          this.reset();
          console.log(response);
        }).catch(err=>{
           this.textSnackbar= "Échec ajout";
          this.snackbar = true;
          this.colorSnackbar= "red";
          this.reset();
        });
    },
    addResponse() {
      if (this.response.length < 3) {
        this.response.push({ libelle: "", valide: "" });
      }
    },
  },
};
</script>

<style lang="scss" >
.brunfonce {
  background: #F7BBD0 !important ;
}

td {
  font-size: 16px !important;
  vertical-align: middle !important ;
}
.v-progress-circular {
  margin: 1rem !important;
}

th {
  font-size: 16px !important;
  vertical-align: middle !important;
}

table {
  font-family: "Arial";

  border-collapse: collapse;
  border: 1px solid #eee;
  tr {
    &:hover {
      background: #f4f4f4;

      td {
        color: #555;
      }
    }
  }
  th,
  td {
    color: rgb(66, 65, 65);
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: #F7BBD0;
    color: #F7BBD0;
    text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
}
</style>