<template>
  <v-container fluid >
    <h1 class="my-5 display-1 subheading grey--text">Quizz</h1>
    <div>
      <v-stepper v-model="e1" vertical :alt-labels="altLabels">
        <template v-if="vertical">
          <template v-for="( item, n) in items">
            <v-stepper-step
              :key="`${n}-step`"
              :complete="e1 > n"
              :step="n"
              :editable="editable"
            >Question {{ n+1 }}</v-stepper-step>

            <v-stepper-content :key="`${n}-content`" :step="n">
              <v-card color="pink lighten-2" class="mb-12" height="200px">
                <v-card-title>
                  <span class="headline">
                    <strong class="white--text">{{item.libelle}}</strong>
                  </span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-radio-group v-model="valide" :mandatory="false">
                      <v-radio
                        v-for="(resp,nd) in item.responses"
                        :key="nd"
                        color="white"
                        :value="resp.libelle"
                        @change="addResponse(item,resp,n)"
                      >
                        <template v-slot:label>
                          <div>
                            <strong class="white--text">{{resp.libelle}}</strong>
                          </div>
                        </template>
                      </v-radio>
                    </v-radio-group>
                  </v-container>
                </v-card-text>
              </v-card>
              <v-btn color="primary" @click="nextStep(n)">Continue</v-btn>

              <v-btn text>Cancel</v-btn>
            </v-stepper-content>
          </template>
        </template>
      </v-stepper>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog" max-width="290">
        <v-card>
          <v-card-title class="headline">Résultat</v-card-title>

          <v-card-text>Merci d'avoir éffectuer ce quizz<br> Votre score est de {{score}}/{{totalQuestion}}</v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="dialog = false">ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import CardsInfos from "../../components/layout/CardsInfos";
import ItemErrors from "../.././components/layout/errors/ItemErrors";
import axios from "../../interceptor";
export default {
  data() {
    return {
      dialog: false,
      score: 0,
      isIndex: [],
      items: [],
      values: [],
      valide: false,
      radios: "Radio",
      e1: 1,
      steps: 1,
      vertical: true,
      altLabels: false,
      editable: true,
    };
  },

  watch: {
    vertical() {
      this.e1 = 2;
      requestAnimationFrame(() => (this.e1 = 1)); // Workarounds
    },
  },
  created() {
    this.getQuizz();
  },
  computed: {
    totalQuestion(){
      return this.items.length;
    }
  },
  methods: {
    nextStep(n) {
      if (n + 1 === this.items.length) {
        if (window.confirm("Validez")) {
          this.finalResult();
          this.dialog = true;
          this.e1 = n + 1;
        }
      } else {
        this.e1 = n + 1;
      }
    },
    getQuizz() {
      axios.get("/api/questions").then((response) => {
        this.items = response.data["hydra:member"];
        this.steps = this.items.length;
        console.log(this.items);
      });
    },
    addResponse(item, valide, n) {
      //   console.log(n);
      console.log(this.isIndex);
      console.log(valide);
      if (valide.valide == true) {
        this.score++;
      }
      if (this.isIndex.indexOf(n) == -1) {
        this.isIndex.push(n);
        this.values.push({ question: item, response: valide });
      }
      //   console.log(this.values);
    },
    finalResult() {
      axios
        .post("/api/user_responses", { resultat: this.values })
        .then((resp) => {
          console.log(resp);
        });
    },
  },
};
</script>