<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col class="col-12 d-flex justify-center">
            <a href="https://www.growstrategyzer.com/" target="_blank">
              <v-img src="images/logo.png" alt="growstrategyzer.com" style="width: 700px;height:700px" > </v-img>
            </a>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import CardsInfos from "../components/layout/CardsInfos";
import ItemErrors from "../components/layout/errors/ItemErrors";
export default {
  name: "login",
  components: { ItemErrors, CardsInfos },
  data() {
    return {
      image: require("../../public/images/logo.png"),
    };
  },
  computed: {},
  methods: {},
};
</script>

<style lang="scss">
.test2 {
  background: linear-gradient(#7c8081, #e6e6e6) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
</style>

