<template>
  <v-app id="inspire">
    <v-content class="test2">
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col class="col-12 d-flex justify-center">
            <a href="https://www.growstrategyzer.com/" target="_blank">
              <img src="images/logo.png" alt="growstrategyzer.com" style="width: 200px;height:100px" />
            </a>
          </v-col>
          <v-col class="col-12 d-flex justify-center">
            <v-card class="elevation-12" width="100%" max-width="400">
              <v-form @submit.prevent="singIn">
                <v-toolbar color="pink lighten-2" dark flat>
                  <v-toolbar-title>Quizz Test</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-text-field
                    v-model="credentials.email"
                    color="pink lighten-2"
                    label="email"
                    name="login"
                    prepend-icon="person"
                    type="text"
                    :error="hasError"
                    :error-messages="error"
                  ></v-text-field>

                  <v-text-field
                    color="pink lighten-2"
                    id="password"
                    v-model="credentials.password"
                    label="password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    :error="hasError"
                    :error-messages="error"
                  ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn type="submit" color="pink lighten-2">
                    <span style="color:white">Connexion</span>
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-col>
          <v-btn color="pink lighten-2" text @click="updatUser = false,dialog = true">S'inscrire</v-btn>
        </v-row>

        <v-row justify="space-between">
          <v-col class="col-auto">
            <v-row justify="center">
              <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                  <v-card-title>
                    <span class="headline">User Profile</span>
                    <item-errors v-if="entity" :entity="entity" />
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-form ref="form" v-model="valid" @submit.prevent="onSendForm(item)">
                        <v-row>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              label="Nom complet *"
                              v-model="item.name"
                              :rules="rules.nameRules"
                              required
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field v-model="item.phone" label="Téléphone"></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              label="Email*"
                              v-model="item.email"
                              :rules="rules.emailRules"
                              required
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              label="Mot de passe *"
                              v-model="item.password"
                              type="text"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-autocomplete
                              :items="itemsRoles"
                              item-value="role"
                              item-text="name"
                              option-store="name"
                              label="Accés"
                              multiple
                              v-model="item.roles"
                            ></v-autocomplete>
                          </v-col>
                        </v-row>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="reset">Fermer</v-btn>
                          <div class="my-2">
                            <v-btn
                              type="submit"
                              :loading="isLoading "
                              :disabled="isLoading || !valid"
                              color="success"
                            >
                              Valider
                              <template v-slot:loader>
                                <span>En cours...</span>
                              </template>
                            </v-btn>
                          </div>
                        </v-card-actions>
                      </v-form>
                    </v-container>
                    <small style="color:red">* Champs requis</small>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import CardsInfos from "../components/layout/CardsInfos";
import ItemErrors from "../components/layout/errors/ItemErrors";
import { mapActions, mapGetters, mapState } from "vuex";
import axios from "../interceptor";
import { items } from "../store/modules/user/getters";
import { API_HOST } from "../config/_entrypoint";
import state from "../store/modules/user/state";
import * as crud from "../utils/crud";
import * as types from "../store/modules/auth/mutation_types";
import Vue from "vue";

export default {
  name: "login",
  components: { ItemErrors, CardsInfos },
  data() {
    return {
      credentials: {
        email: "",
        password: "",
      },

      entity: "user",
      editedIndex: -1,
      pencil: "mdi-plus",
      color: "red",
      clients: [],
      search: "",
      small: "small",
      show: false,
      dialog: false,
      valid: true,
      updatUser: false,
      headers: [
        { text: "Prenom et Nom", value: "name" },
        { text: "email", value: "email" },
        { text: "Téléphone", value: "phone" },
        { text: "Etat", value: "isActivated" },
        { text: "Actions", value: "actions" },
      ],
      itemsRoles: [{ name: "Visiteur(se)", role: "ROLE_VISITEUR" }],
      rules: {
        emailRules: [
          (v) => !!v || "E-mail est requis",
          (v) => /.+@.+\..+/.test(v) || "E-mail non valid",
        ],
        nameRules: [(v) => !!v || "Le nom est requis"],
        passwordRules: [
          (v) => !!v || "Le mot de passe est requis",
          (v) =>
            (v && v.length >= 6) ||
            "Le mot de passe doit être suppérieur ou égal à 6 caractéres",
        ],
      },
    };
  },
  computed: {
    error() {
      return this.$store.getters["auth/error"];
    },
    hasError() {
      return this.error !== null;
    },
    isLoading() {
      if (this.$store.state.general.isLoading > 0) {
        return true;
      }
    },
    ...mapGetters({
      items: "user/items",
      item: "user/item",
      errors: "user/errors",
      error: "user/error",
      countUserData: "user/countUserData",
    }),
  },
  methods: {
    singIn() {
      this.$store
        .dispatch("auth/login", this.credentials)
        .then((response) => {
          this.$store.commit(`auth/${types.AUTH_UPDATE_TOKEN}`, response.data);
          this.$router.push({ name: "Home" });
        })
        .catch((e) => {});
    },

    ...mapActions({
      getItems: "user/getItems",
      getItem: "user/getItem",
      create: "user/create",
      resets: "user/reset",
      remove: "user/remove",
      getCountUserData: "user/getCountUserData",
    }),
    onSendForm(item) {
      if (this.updatUser == true) {
        axios
          .put(`${API_HOST}/users/${item.id}`, item)
          .then((data) => {
            this.reset();
          })
          .catch({});
      } else if (this.updatUser == false) {
        this.create()
          .then((item) => {
            this.reset();
          })
          .catch((e) => {});
      }
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
      this.dialog = false;
      this.updatUser = false;
      this.$store.commit("user/USER_RESET");
      this.getItems();
    },
    getColor(value) {
      if (value == true) return "green";
      else return "red";
    },
    userStatus(id, item) {
      var message;
      if (item.isActivated == true) {
        message = "Voulez-vous désactivez cette utilisateur";
      } else {
        message = "Voulez-vous activez cette utilisateur";
      }
      if (window.confirm(message)) {
        (item.isActivated = !item.isActivated),
          axios
            .put(`${API_HOST}/users/${id}`, item)
            .then((data) => {
              this.getCountUserData();
            })
            .catch({});
      }
    },
    editUser(item) {
      this.updatUser = true;
      this.$store.commit("user/USER_UPDATE_ITEM", item);
      this.dialog = true;
    },
    deleteUser(id) {
      if (window.confirm("Voulez-vous vraiment supprimer cet utilisateur")) {
        this.remove(id).then((rep) => {
          this.getItems();
          this.getCountUserData();
        });
      }
    },
  },
};
</script>

<style lang="scss">
.test2 {
  background: linear-gradient(#7c8081, #e6e6e6) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
</style>

